body{
    background-image: url(images/1.jpg);
    background-repeat: no-repeat center center;
    background-size: cover;
    }

.navbar-inverse{
    background-color: #522575;
    color: #2a221e;
    border-color: #2a221e;
    background-image: none;
    background-repeat: no-repeat;
}

#ati{
	color: white;
	font: 50px gabriola;
	position: absolute;
	text-align: left;
	top: 200px;
	left: 100px;
	}
